<%- include("../partials/header", {title: "Profile", style: "profile"}) %>

<header>
    <%- include("../partials/banner", {link:"/auth/logout", button: "Deconnexion", type:"submit"}) %>
    <!-- <%- include("../partials/navbar") %> -->
</header>

<main>
    <div class="separator"></div>

    <section id="profile">
        <% if(locals.connected) { %>
        <h2>Bonjour <%= locals.user.pseudo %></h2>
        <% } else { %>
        <h2>Bonjour Inconnu</h2>
        <% } %>
        <div class="separator"></div>
    
        <a href="/goal">
            <div class="block_profile">
                <img src="/image/start-up.png" alt="">
                <div class="separator"></div>
                <p>Mes Projets</p>
            </div>
        </a>
        <a href="/budget-month">
            <div class="block_profile">
                <img src="/image/calculator.png" alt="">
                <div class="separator"></div>
                <p>Mon Budget</p>
            </div>
        </a>
        <a href="/user">
            <div class="block_profile">
                <img src="/image/settings.png" alt="">
                <div class="separator"></div>
                <p>Mon Compte</p>
            </div>
        </a>
    </section>

    <div class="separator_section"></div>
</main>

<%- include("../partials/footer") %>