    <!-- <form action="" method="post">
        <table>
            <caption>
              "Je réalise le suivi de mes dépenses chaque semaine."
            </caption>
            <thead>
              <tr>
                <th colspan="6">Mon budget Hebdomadaire :</th>
              </tr>
              <tr>
                <th>Intitulé</th>
                <th>S.1</th>
                <th>S.2</th>
                <th>S.3</th>
                <th>S.4</th>
                <th>S.5</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><label for="food1 food2 food3 food4 food5">Courses/Nourriture</label></td>
                <td><input type="number" placeholder="<%= weekBudget.food1 %>" name="food1" id="food1"> €</td>
                <td><input type="number" placeholder="<%= weekBudget.food2 %>" name="food2" id="food2"> €</td>
                <td><input type="number" placeholder="<%= weekBudget.food3 %>" name="food3" id="food3"> €</td>
                <td><input type="number" placeholder="<%= weekBudget.food4 %>" name="food4" id="food4"> €</td>
                <td><input type="number" placeholder="<%= weekBudget.food5 %>" name="food5" id="food5"> €</td>
              </tr>
              <tr>
                <td><label for="travel1 travel2 travel3 travel4 travel5">Déplacements (Essence/Bus)</label></td>
                <td><input type="number" placeholder="<%= weekBudget.travel1 %>" name="travel1" id="travel1"> €</td>
                <td><input type="number" placeholder="<%= weekBudget.travel2 %>" name="travel2" id="travel2"> €</td>
                <td><input type="number" placeholder="<%= weekBudget.travel3 %>" name="travel3" id="travel3"> €</td>
                <td><input type="number" placeholder="<%= weekBudget.travel4 %>" name="travel4" id="travel4"> €</td>
                <td><input type="number" placeholder="<%= weekBudget.travel5 %>" name="travel5" id="travel5"> €</td>
              </tr>
              <tr>
                <td><label for="leisure1 leisure2 leisure3 leisure4 leisure5">Loisirs/Autre (shopping, restaurant, sorties)</label></td>
                <td><input type="number" placeholder="<%= weekBudget.leisure1 %>" name="leisure1" id="leisure1"> €</td>
                <td><input type="number" placeholder="<%= weekBudget.leisure2 %>" name="leisure2" id="leisure2"> €</td>
                <td><input type="number" placeholder="<%= weekBudget.leisure3 %>" name="leisure3" id="leisure3"> €</td>
                <td><input type="number" placeholder="<%= weekBudget.leisure4 %>" name="leisure4" id="leisure4"> €</td>
                <td><input type="number" placeholder="<%= weekBudget.leisure5 %>" name="leisure5" id="leisure5"> €</td>
              </tr>
              <tr>
                <td><label for="emergency1 emergency2 emergency3 emergency4 emergency5">Budget de secours (en cas d'urgence, imprévu)</label></td>
                <td><input type="number" placeholder="<%= weekBudget.emmergency1 %>" name="emergency1" id="emergency1"> €</td>
                <td><input type="number" placeholder="<%= weekBudget.emmergency2 %>" name="emergency2" id="emergency2"> €</td>
                <td><input type="number" placeholder="<%= weekBudget.emmergency3 %>" name="emergency3" id="emergency3"> €</td>
                <td><input type="number" placeholder="<%= weekBudget.emmergency4 %>" name="emergency4" id="emergency4"> €</td>
                <td><input type="number" placeholder="<%= weekBudget.emmergency5 %>" name="emergency5" id="emergency5"> €</td>
              </tr>
              <tr>
                <td><label for="plannedBudget1 plannedBudget2 plannedBudget3 plannedBudget4 plannedBudget5">Total somme prévue :</label></td>
                <td><%= budget.plannedBudget1 %> €</td>
                <td><%= budget.plannedBudget2 %> €</td>
                <td><%= budget.plannedBudget3 %> €</td>
                <td><%= budget.plannedBudget4 %> €</td>
                <td><%= budget.plannedBudget5 %> €</td>
              </tr>
              <tr>
                <td><label for="spentBudget1 spentBudget2 spentBudget3 spentBudget4 spentBudget5">Total somme dépensée :</label></td>
                <td><input type="number" placeholder="<%= weekBudget.spentBudget1 %>" name="spentBudget1" id="spentBudget1"> €</td>
                <td><input type="number" placeholder="<%= weekBudget.spentBudget2 %>" name="spentBudget2" id="spentBudget2"> €</td>
                <td><input type="number" placeholder="<%= weekBudget.spentBudget3 %>" name="spentBudget3" id="spentBudget3"> €</td>
                <td><input type="number" placeholder="<%= weekBudget.spentBudget4 %>" name="spentBudget4" id="spentBudget4"> €</td>
                <td><input type="number" placeholder="<%= weekBudget.spentBudget5 %>" name="spentBudget5" id="spentBudget5"> €</td>
                </tr>
            </tbody>
            <tfoot>
              <tr>
                <td>Résultat mensuel :</td>
                <td colspan="5"> _ _ €</td>
              </tr>
            </tfoot>
          </table>
    </form> -->